@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(to right, rgb(8, 97, 0), rgba(8, 97, 0, 0));
}

h1{
    margin-top: 0px;
}

.normal{
    background-color: yellow;
}

#eniac{
    background-image: url(images/Electronic-Numerical-Integrator-And-Computer.png);
    background-size: cover;
    background-attachment: fixed;
}

#colossus{
    width: 400px;
    height: 400px;
    background: rgb(0, 255, 234) url(images/colossus.jpg) center center no-repeat cover fixed;
}

#radar{
    background: blue url(images/Maille-Breze_radar_and_sonar_consoles-IMG_4147.jpg) center center no-repeat cover fixed;
}